@import "@/styles/variables";

.item-details {
  background-color: $white-color;
  text-align: left;
  padding: 1em;

  a:global(.title) {
    text-decoration: none;
    color: $text-color;

    &:hover {
      color: $primary-color;
    }
  }

  h1 {
    margin: 0;
    font-size: 1.2em;

    a {
      text-decoration: none;
      color: $small-text-color;

      &:hover {
        color: $primary-color;
      }
    }

    span {
      font-size: 0.8em;
    }
  }

  p:global(.meta-data) {
    font-size: 0.9em;
    margin: 0;
    margin-top: 0.3em;
    color: $small-text-color;
  }

  div:global(.content) {
    p {
      margin-bottom: 0;
    }
  }

  div:global(.divider) {
    height: 1px;
    width: 100%;
    background-color: $primary-color;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
